<!DOCTYPE HTML>

<html>	 
	
	<body>
		<meta charset="utf-8"/>
		<title>Clinica de Masaje Red</title>
	 
	
		<div class="contact-title">
			<h1>Hola</h1>
			<h2>En la Clinica de Masajes Red siempre estamos para servirte</h2>
		</div>
		
		<div class="contact-form">
			<form id="contact-form" method="post" action="">
			<p></p>
				<input name="name" type="text" class="form-control" placeholder="Nombre" required><br>
			<p></p>
				<input name="email" type="email" class="form-control" placeholder="Correo Electronico" required><br>
			<p></p>
					<textarea name="message" class="form-control" placeholder="Mensaje" rows="4" required></textarea><br>
						<input type="submit" class="form-control submit" value="Enviar Mensaje">
            </form>
        </div>
	</body>
</html>
