

<body>

		<header>		
				<nav>
						<ul class="nav_links">
							<li><a href="/home">Inicio</a></li>
							<li><a href="#">Pagina 2</a></li>
							<li><a href="#">Pagina 3</a></li>
							<li><a href="#">Pagina 4</a></li>
							<li><a href="/contacts">Contactanos</a></li>
						</ul>
					</nav>
					<a class="cta" href="#"><button>Suscribete</button></a>
				</header>
				
		<div class="parallax"></div>

			<div class="container">
				<p>El término masaje terapéutico engloba toda una serie de técnicas de masaje que se 
				   utilizan en el tratamiento de trastornos neuromusculares y musculoesqueléticos, facilitando 
				   la eliminación de toxinas, activando la circulación sanguínea y linfática y mejorando 
				   el aporte de oxígeno a los tejidos. También se utilizan para aliviar el estrés y estados 
				   de ánimo negativos, pues estimulan la producción orgánica de endorfinas.</p>
	
				<p>El masaje es una de las formas más comúnmente practicadas de bienestar. Desde hace mucho 
				   tiempo, el masaje se usa para aliviar el dolor, ayudar a sanar lesiones, mejorar la circulación, 
				   aliviar el estrés, aumentar la relajación y ayudar con la salud y el bienestar en general.</p>
			</div>
		<router-outlet></router-outlet>
</body> 



